# Gruppuppgift – E-handel: snabbrapport & GitHub-samarbete

In [1]:
import pandas as pd                                                 # Installera pandas först (pip install pandas)
import matplotlib.pyplot as plt                                     # Installera matplotlib först (pip install matplotlib)

from src.ecommerce import EcommerceAnalyzer                         # Importerar vår klass från ecommerce.py


report = EcommerceAnalyzer("data/ecommerce_sales.csv")              # Skapar ett objekt from filen vi importerar via filvägen

- Skriver ut två nyckeltal, totala antalet sålda units och total revenue för varje stad, sorterat efter revenue

In [2]:
rev_units = report.rev_unit_count()
rev_units

              Revenue  Units
city
Stockholm  1227201.94   2619
Göteborg    859019.65   1788
Malmö       567926.32   1211
Uppsala     551478.42   1165
Västerås    297140.90    680

- Intäkter per stad

In [3]:
# stapeldiagram

- Top 3 kategorier i försäljning

In [4]:
#top 3

- Försäljning per månad

In [5]:
#per månad, stapeldiagram

- Average order value

In [8]:
# # AOV
# aov_summery = report.rev_order_id_count()
# aov_summery
# # pd.Series(aov_summery).describe()
# aov_summery = report.avg_revenue_summery()
# aov_summery

rev_category_per_unit = report.rev_category_per_unit()

aov_summery = report.per_category_revenue()

rev_summery_per_catagory = report.rev_summery_per_catagory()

# aov_summery
# rev_summery_per_catagory
# rev_category_per_unit
rev_category_per_unit, rev_summery_per_catagory

(                Revenue  Units  Revenue_per_Unit
 category
 Electronics  1364228.07   1753            778.22
 Sports        734653.42   1401            524.38
 Clothing      586744.91   1655            354.53
 Home          511070.87   1278            399.90
 Beauty        163053.97    659            247.43
 Toys          143015.99    717            199.46,
                     sum         mean    median          std     min      max
 category
 Beauty        163053.97   676.572490   584.910   482.360925  100.00  2675.80
 Clothing      586744.91  1152.740491  1016.240   765.741562   81.87  5480.24
 Electronics  1364228.07  2207.488786  1844.940  1531.683343   50.00  9192.60
 Home          511070.87  1043.001776   897.705   721.206143   50.00  3926.40
 Sports        734653.42  1770.249205  1595.760  1080.907882   91.09  6312.48
 Toys          143015.99   630.026388   533.980   468.674026   50.00  3511.62)

- Eventuella Avvikelser

In [7]:
# outliers

# Rekommendationer