# Gruppuppgift – E-handel: snabbrapport & GitHub-samarbete

In [1]:
import pandas as pd                                                 # Installera pandas först (pip install pandas)
import matplotlib.pyplot as plt                                     # Installera matplotlib först (pip install matplotlib)

from src.ecommerce import EcommerceAnalyzer                         # Importerar vår klass från ecommerce.py


report = EcommerceAnalyzer("data/ecommerce_sales.csv")              # Skapar ett objekt from filen vi importerar via filvägen

- Skriver ut två nyckeltal, totala antalet sålda units och total revenue för varje stad, sorterat efter revenue

In [6]:
rev_units = report.rev_unit_count()
rev_units

              Revenue  Units
city
Stockholm  1227201.94   2619
Göteborg    859019.65   1788
Malmö       567926.32   1211
Uppsala     551478.42   1165
Västerås    297140.90    680

- Intäkter per stad

In [3]:
# stapeldiagram

- Top 3 kategorier i försäljning

In [2]:
#top 3
rev_catagory = report.rev_per_category()
rev_catagory.head(3)

                Revenue  Units
category
Electronics  1364228.07   1753
Sports        734653.42   1401
Clothing      586744.91   1655

- Försäljning per månad

In [5]:
#per månad, stapeldiagram

- Average order value

In [6]:
# AOV

- Eventuella Avvikelser

In [7]:
# outliers

# Rekommendationer