# Gruppuppgift – E-handel: snabbrapport & GitHub-samarbete

In [2]:
import pandas as pd                                                 # Installera pandas först (pip install pandas)
import matplotlib.pyplot as plt                                     # Installera matplotlib först (pip install matplotlib)

from src.ecommerce import EcommerceAnalyzer                         # Importerar vår klass från ecommerce.py


report = EcommerceAnalyzer("data/ecommerce_sales.csv")              # Skapar ett objekt from filen vi importerar via filvägen

- Skriver ut två nyckeltal, totala antalet sålda units och total revenue för varje stad, sorterat efter revenue

In [ ]:
rev_units = report.rev_unit_count()
rev_units

              Revenue  Units
city
Stockholm  1227201.94   2619
Göteborg    859019.65   1788
Malmö       567926.32   1211
Uppsala     551478.42   1165
Västerås    297140.90    680

- Intäkter per stad

In [ ]:
# stapeldiagram

- Top 3 kategorier i försäljning

In [ ]:
#top 3

- Försäljning per månad

In [ ]:
#per månad, stapeldiagram

- Average order value

In [7]:
# # AOV

rev_category_per_unit = report.rev_category_per_unit()

rev_summery_per_catagory = report.rev_summery_per_catagory()

rev_count = report.rev_count()

rev_summery = report.rev_summery()

rev_category_per_unit
rev_summery_per_catagory

rev_count
rev_summery

sum       3.502767e+06
mean      1.401107e+03
median    1.088690e+03
std       1.166945e+03
min       5.000000e+01
max       9.192600e+03
Name: revenue, dtype: float64

- Eventuella Avvikelser

In [ ]:
# outliers

# Rekommendationer